@model biblioapp.Models.Emprunt

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Emprunt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Matricule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matricule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codelivre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codelivre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
